@font-face {
  font-family: "Neutra-Text-Bold";
  src: url("../fonts/Neutra-Text-Bold.otf") format("opentype");
}
body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Neutra-Text-Bold";
}
nav h1 {
  font-size: 5rem;
}
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.code-block {
  height: 300px;
  width: 300px;
  z-index: 1;
}
.code-block p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.code-block:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.html {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #e44f26;
}
.html p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.html:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.html p {
  text-align: left;
  height: 130px;
  margin: 0px 0 0 65px;
}
.js {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #f0db4f;
}
.js p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.js:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.css {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #274de4;
}
.css p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.css:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.ts {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #007acc;
}
.ts p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.ts:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.assembly {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #654ff0;
  letter-spacing: -0.45rem;
}
.assembly p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.assembly:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.python {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #3473a7;
}
.python p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.python:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.ruby {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #e61521;
}
.ruby p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.ruby:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.php {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #7477ae;
}
.php p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.php:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.php p {
  margin: 130px 30px 0 0;
  letter-spacing: -0.35rem;
}
.go {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #29beb1;
  letter-spacing: -0.35rem;
}
.go p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.go:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.react {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #00d8ff;
}
.react p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.react:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.vue {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #40b37f;
}
.vue p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.vue:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.vue p {
  margin: 130px 15px 0 0;
  letter-spacing: -0.65rem;
}
.angular {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #d70430;
}
.angular p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.angular:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
.graph {
  height: 300px;
  width: 300px;
  z-index: 1;
  background: #e01697;
}
.graph p {
  font-size: 10rem;
  text-align: right;
  margin: 130px 10px;
  color: #1a191e;
}
.graph:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
}
