@font-face {
  font-family: "Neutra-Text-Bold";
  src: url("../fonts/Neutra-Text-Bold.otf") format("opentype");
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Neutra-Text-Bold";
}

nav h1 {
  font-size: 5rem;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

// Mixin for every block
.code-block {
  height: 300px;
  width: 300px;
  z-index: 1;

  p {
    font-size: 10rem;
    text-align: right;
    margin: 130px 10px;
    color: #1a191e;
  }

  &:hover {
    z-index: 2;
    transform: scale(1.1);
    transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  }
}

// Blocks
.html {
  .code-block;
  background: #e44f26;

  p {
    text-align: left;
    height: 130px;
    margin: 0px 0 0 65px;
  }
}

.js {
  .code-block;
  background: #f0db4f;
}

.css {
  .code-block;
  background: #274de4;
}

.ts {
  .code-block;
  background: #007acc;
}

.assembly {
  .code-block;
  background: #654ff0;
  letter-spacing: -0.45rem;
}

.python {
  .code-block;
  background: #3473a7;
}

.ruby {
  .code-block;
  background: #e61521;
}

.php {
  .code-block;
  background: #7477ae;
  p {
    margin: 130px 30px 0 0;
    letter-spacing: -0.35rem;
  }
}

.go {
  .code-block;
  background: #29beb1;
  letter-spacing: -0.35rem;
}

.react {
  .code-block;
  background: #00d8ff;
}

.vue {
  .code-block;
  background: #40b37f;
  p {
    margin: 130px 15px 0 0;
    letter-spacing: -0.65rem;
  }
}

.angular {
  .code-block;
  background: #d70430;
}
